@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");

$main: #5ebdba;
$blackMain: #222429;
$darkBlackMain: #1c1e22;
$blue: #0c4f8c;
$shdowLayer: #00000033;
$halfWhite: #ffffff33;
$shadow: rgba(0, 0, 0, 0.05);

/* Start Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

::selection {
  color: #fff;
  background: $blue;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
}

@mixin noBorder() {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background-color: $blackMain;
  background-image: url(../media/backimg.png);
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
  }
}
@media (max-width: 900px) {
  body {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}
button {
  @include noBorder();
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid $main; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type="checkbox"]:checked {
  border-color: $main; /* Border color when checked */
  background-color: $main; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type="checkbox"]::before {
  content: "\2713"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}
@keyframes opacityani {
  100% {
    opacity: 1;
  }
}

/* End Default */

.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}
.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}

nav {
  @include flex();
  width: 100%;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  @include flex();
  background-color: transparent;
  transition: 0.2s;
  z-index: 5;
}

nav.color {
  background-color: $blackMain;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
  backdrop-filter: blur(10px);
}

.goTop {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 20px;
  z-index: 5;
  span {
    @include flex();
    @include circle(55px);
    background-color: $darkBlackMain;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $blue;
      i {
        color: #fff;
      }
    }
    i {
      color: #fff;
      font-size: 1.5em;
    }
  }
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  img {
    width: 150px;
    object-fit: contain;
  }
}
@media (max-width: 421px) {
  .logo img {
    width: 130px;
  }
}
.links {
  display: flex;
}
.mainLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}
.link {
  width: fit-content;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  img {
    width: 7px;
  }
}
.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 90px;
  gap: 5px;
  transition: 0.2s;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    bottom: 25px;
    background-color: $main;
    border-radius: 3px;
    left: -101%;
    transition: 0.2s;
  }
}

.link.active {
  &::after {
    left: 0;
  }
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  @include noBorder();
  span {
    height: 2px;
    width: 30px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    transition: 0.3s;
    &:nth-child(1) {
      top: 28px;
    }
    &:nth-child(2) {
      top: 40px;
    }
    &:nth-child(3) {
      top: 52px;
    }
  }
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}
.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}
.ls {
  display: flex;
  gap: 20px;
  .mLinks {
    display: none;
  }
}

.home {
  width: 100%;
  height: 100vh;
  @include flex();
  position: relative;
  border-bottom: 7px solid $blue;
  overflow: hidden;
  user-select: none;
}
.homeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.layer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 600px;
}
.mLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    .ll {
      display: flex;
      flex-direction: column;
      span {
        line-height: 1.1;
        color: #fff;
        &:nth-child(1) {
          font-size: 0.8em;
          text-transform: uppercase;
        }
      }
    }
  }
}
.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  .dropMenu {
    @include flex();
    display: none;
    height: 43px;
    padding: 0 20px;
    position: absolute;
    top: calc(100% + 10px);
    background-color: $main;
    border-radius: 5px;
  }
  a {
    color: #fff;
    font-weight: 500px;
    .lang {
      width: 20px;
      object-fit: contain;
    }
    .drop-icon {
      @include flex();
      width: 7px;
      transform: translateX(-5px);
      transition: 0.2s;
    }
  }
}
.drop.active {
  .dropMenu {
    display: flex;
  }
  .drop-icon {
    transform: translateX(-5px) rotate(-90deg);
  }
}
@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last {
    .mLinks {
      display: none;
    }
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s;
    background-color: $blackMain;
    padding: 0 0 70px 0;
    .mLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%;
    }
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    margin-left: 5%;
  }
  .link {
    height: 40px;
    &::after {
      bottom: 0;
    }
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
}
.layerAnimation {
  bottom: -100%;
  animation: layerAnimation 1300ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms
    forwards;
}
.layerAnimation2 {
  bottom: -100%;
  animation: layerAnimation 1300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3.5s
    forwards;
}

@keyframes layerAnimation {
  100% {
    bottom: 0;
  }
}
.homeAnimation {
  width: 150%;
  animation: homeAnimation 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms
    forwards;
}
.homeAnimation2 {
  width: 150%;
  animation: homeAnimation 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) 3s
    forwards;
}

@keyframes homeAnimation {
  100% {
    width: 100%;
  }
}
.btmAni2000 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 700ms forwards;
}
.btmAni2500 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms forwards;
}
.btmAni3000 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 2800ms forwards;
}
.btmAni20002 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 4s forwards;
}
.btmAni25002 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 4.2s forwards;
}
.btmAni30002 {
  opacity: 0;
  transform: translateY(200px);
  animation: btmAni 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 4.4s forwards;
}

@keyframes btmAni {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeL {
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeL 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3000ms forwards;
}
.fadeL200 {
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeL 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3200ms forwards;
}
.fadeL400 {
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeL 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms forwards;
}
.fadeL600 {
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeL 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 3600ms forwards;
}

@keyframes fadeL {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hm {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  h4 {
    background-color: $blue;
    padding: 5px 10px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
  }
  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    span {
      font-size: 1.7em;
      color: $main;
    }
  }
}
.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 15px 60px;
  background-color: $blue;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s all ease;
  position: relative;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  img {
    width: 25px;
    z-index: 2;
  }
  span {
    z-index: 2;
  }
  i {
    position: absolute;
    right: -40px;
    width: 50px;
    height: 100px;
    transform: skewX(-34deg);
    background-color: $shdowLayer;
    transition: 0.4s all ease;
    z-index: 1;
  }
  &:hover {
    i {
      width: 100%;
      right: 0;
      transform: skewX(0deg);
    }
  }
}

.hlk {
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
}
.homeMedia {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 10%;
  z-index: 5;
  a {
    @include flex();
    width: 45px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    transition: 0.2s;
    box-shadow: 0px 0px 5px $darkBlackMain;
    &:hover {
      width: 55px;
    }
    &:nth-child(odd) {
      background-color: $blue;
    }
    &:nth-child(even) {
      background-color: $main;
    }
    img {
      width: 25px;
    }
  }
}
.icon {
  @include circle(55px);
  @include flex();
  position: absolute;
  z-index: 5;
  background-color: $darkBlackMain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  color: #fff;
  font-size: 1.5em;
  display: none;
  cursor: pointer;
}

@media (max-width: 1301px) {
  .hm {
    padding-left: 100px;
  }
}

@media (max-width: 901px) {
  .goTop {
    bottom: 40px;
  }
  .homeMedia {
    @include flex();
    left: 20px;
    bottom: 40px;
    padding: 20px;
  }
  .icon {
    display: flex;
  }
  .hlk {
    a {
      position: absolute;
      @include circle(50px);
    }
  }
  .fadeL {
    opacity: 0;
    transform: translateX(0);
    animation: none;
  }
  .fadeL200 {
    opacity: 0;
    transform: translateX(0);
    animation: none;
  }
  .fadeL400 {
    opacity: 0;
    transform: translateX(0);
    animation: none;
  }
  .fadeL600 {
    opacity: 0;
    transform: translateX(0);
    animation: none;
  }
  .homeMedia {
    a {
      width: 35px;
      height: 35px;
      animation: none;
      opacity: 0;
      left: 0;
      bottom: -10px;
      &:hover {
        width: 35px;
      }
      &:nth-child(1) {
        transition: 0.2s all ease 150ms;
      }
      &:nth-child(2) {
        transition: 0.2s all ease 300ms;
      }
      &:nth-child(3) {
        transition: 0.2s all ease 450ms;
      }
      &:nth-child(4) {
        transition: 0.2s all ease 600ms;
      }
      img {
        width: 17px;
      }
    }
  }
  .homeMedia.active {
    .hlk {
      a {
        opacity: 1;
        &:nth-child(1) {
          bottom: 45px;
          left: -30px;
        }
        &:nth-child(2) {
          bottom: 35px;
          left: 15px;
        }
        &:nth-child(3) {
          bottom: 0px;
          left: 40px;
        }
        &:nth-child(4) {
          bottom: -45px;
          left: 40px;
        }
      }
    }
  }
  .hm {
    padding-left: 20px;
  }
  .homeImg {
    @include flex();
    position: relative;
    a {
      position: absolute;
    }
  }
}

@media (max-width: 751px) {
  .hm {
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 1em;
    }
    h1 {
      font-size: 3em;
    }
  }
  .btn {
    padding: 10px 45px;
    font-size: 1em;
    img {
      width: 20px;
    }
  }
}
@media (max-width: 501px) {
  .hm {
    gap: 20px;
    h4 {
      font-size: 0.8em;
      text-align: center;
    }
    h1 {
      font-size: 2em;
    }
  }
}

.section {
  width: 100%;
  @include flex();
  padding: 50px 0;
}
.sec {
  @include flex();
  flex-direction: column;
  gap: 50px;
}
header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $main;
  }
  text-transform: uppercase;
  color: #fff;
}
.secsInner {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  h1 {
    color: #fff;
    font-size: 3em;
    padding-right: 173px;
    span {
      color: $main;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}
.cat {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 223px;
  height: 200px;
  background-color: $darkBlackMain;
  position: relative;
  overflow: hidden;
  transition: 0.4s all ease;
  border-radius: 5px;
  svg {
    position: absolute;
    top: 20px;
    right: 20px;
    path {
      transition: 0.4s all ease;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 100px;
    height: 100%;
    transform: skewX(-34deg);
    background-color: $shdowLayer;
    transition: 0.4s all ease;
    z-index: 1;
  }
  &:hover {
    background-color: $main;
    svg {
      path {
        fill: #1f1a17;
      }
    }
    &::after {
      right: -90px;
    }
  }
}
.num {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 1.7em;
  font-weight: 700;
  color: $halfWhite;
}
.title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 20px;
  span {
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    transition: 0.4s all ease;
    font-weight: 700;
  }
}

.cat:hover .title span {
  color: #000;
}
@media (max-width: 1200px) {
  .secsInner {
    justify-content: center;
    h1 {
      width: 100%;
      padding: 0;
    }
  }
}
@media (max-width: 701px) {
  .secsInner {
    h1 {
      font-size: 2.5em;
    }
  }
}
@media (max-width: 501px) {
  .secsInner {
    h1 {
      font-size: 2em;
    }
  }
  .cat {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .secsInner {
    h1 {
      font-size: 1.7em;
    }
  }
}
.about {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.fdc {
  flex-direction: column;
}
.aImg {
  width: 240px;
  object-fit: contain;
}
.aboutText {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  article {
    padding: 20px 0;
    p {
      font-size: 1.5em;
      color: #fff;
      line-height: 1.2;
      font-weight: 300;
    }
  }
  h3 {
    font-size: 2em;
    text-transform: uppercase;
    color: $main;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  h1 {
    width: fit-content;
    text-align: center;
    gap: 4px;
    color: #fff;
    font-size: 3em;
    line-height: 0.75;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
    &::after {
      top: 0;
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 20px;
      background-color: $main;
    }
    span {
      color: $main;
      font-size: 0.6em;
    }
  }
  .fs1 {
    span {
      color: $main;
      font-size: 1em;
    }
  }

  h2 {
    display: flex;
    width: fit-content;
    text-align: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    font-size: 2.5em;
    line-height: 0.75;
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 10px;
      background-color: $main;
    }
    span {
      color: $main;
      font-size: 1em;
    }
  }
  .btn {
    img {
      width: 7px;
    }
  }
}
.abtTw {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  article {
    padding: 0;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 95%;
    width: 10px;
    background-color: $main;
  }
  p {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.2;
    font-weight: 300;
  }
}
.txt {
  padding: 15px 0;
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 1001px) {
  .aboutText {
    width: auto;
  }
}
@media (max-width: 901px) {
  .about {
    flex-direction: column;
    img {
      margin: 0 auto;
    }
  }
}
.w100 {
  width: 100%;
}

.abts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 701px) {
  .aImg {
    width: 170px;
  }
  .aboutText {
    h1 {
      font-size: 2em;
      padding-left: 25px;
      &::after {
        width: 15px;
      }
    }
    article {
      p {
        font-size: 1.2em;
      }
    }
    .txt {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 421px) {
  article {
    p {
      font-size: 1em;
    }
  }
  .txt {
    font-size: 1em;
  }
}
@media (max-width: 351px) {
  .section {
    padding: 20px 0;
  }
  .aboutText {
    h1 {
      font-size: 1.5em;
      padding-left: 20px;
      &::after {
        width: 10px;
      }
    }
    article {
      p {
        font-size: 0.9em;
      }
    }
    .txt {
      font-size: 0.9em;
    }
  }
}
.clients {
  display: flex;
  justify-content: center;
  .btn {
    img {
      width: 7px;
    }
  }
}
.mySwiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
  }
}

.client {
  width: 150px;
  height: 150px;
  @include flex();
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  background-image: linear-gradient(
    to top,
    rgba(0, 125, 194, 0.2),
    rgba(94, 189, 186, 0.2)
  );
  border-image-source: linear-gradient(
    to top,
    rgba(42, 137, 134, 1),
    rgba(94, 189, 186, 1)
  );
  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

.counter {
  width: 100%;
  @include flex();
  flex-wrap: wrap;
  gap: 10px;
  .counterCard {
    &:nth-child(odd) {
      background-color: $blue;
    }
    &:nth-child(even) {
      background-color: $main;
    }
  }
}
.counterCard {
  width: 280px;
  height: 190px;
  @include flex();
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 3.5em;
    font-weight: 800;
    color: #fff;
    line-height: 1.25;
    z-index: 2;
    &::after {
      content: "+";
      font-size: 0.5em;
    }
  }
  span {
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    right: -70px;
    bottom: 0;
    width: 100px;
    height: 100%;
    transform: skewX(-30deg);
    background-color: $shdowLayer;
    transition: 0.4s all ease;
    z-index: 1;
  }
  &:hover {
    &::after {
      transform: skewX(0deg);
      width: 100%;
      right: 0;
    }
  }
}
.mySwiper2 {
  width: 100%;
  height: 100%;
}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    padding-top: 10px;
    white-space: nowrap;
    font-weight: 400;
  }
  span {
    text-transform: uppercase;
    color: $main;
  }
}
.memberImg {
  @include flex();
  position: relative;
  border-radius: 5px;
  border: 5px solid $main;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    filter: grayscale(10);
    transition: 0.2s all ease;
  }
  &:hover {
    img {
      filter: grayscale(0);
    }
  }
}

.pr0 {
  padding-right: 0;
}
@media (max-width: 370px) {
  .client {
    margin: 0 auto;
  }
}
@media (max-width: 615px) {
  .counterCard {
    width: calc(50% - 15px);
  }
}
@media (max-width: 501px) {
  .counterCard {
    height: 150px;
    h1 {
      font-size: 2.5em;
    }
    span {
      font-size: 1em;
    }
  }
}
@media (max-width: 351px) {
  .counterCard {
    width: 100%;
    height: 170px;
    h1 {
      font-size: 3em;
    }
    span {
      font-size: 1.1em;
    }
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: $blue;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    width: 250px;
  }
  .aboutText {
    width: 400px;
    article {
      p {
        font-size: 1em;
      }
    }
  }
}
.footerLinkGroup {
  display: flex;
  gap: 100px;
}
.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $main;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1em;
        line-height: 1.7;
        color: #fff;
        text-transform: uppercase;
        transition: 0.2s all ease;
        font-weight: 300;
        img {
          width: 8px;
          object-fit: contain;
        }
        &:hover {
          color: $main;
        }
      }
    }
  }
}

.cont {
  width: 290px;
  ul {
    li {
      &:nth-child(1) {
        a {
          line-height: 1.5;
        }
      }
      a {
        line-height: 2;
        img {
          width: 20px;
        }
      }
    }
  }
}

.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #fff;
    i {
      color: $blue;
      font-size: 1.3em;
      transition: 200ms all ease;
    }
    &:hover {
      i {
        color: $main;
      }
    }
  }
}
@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo {
    img {
      width: 200px;
    }
    .aboutText {
      width: 100%;
    }
  }
}
.teamMembers {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  position: relative;
  border-bottom: 5px solid $blue;
  overflow: hidden;
  /*
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(51, 51, 51, 0.707);
    z-index: 2;
  }*/
}
.hm1 {
  position: absolute;
  width: 150%;
  height: 150%;
  object-fit: cover;
  object-position: center;
}
.hm2 {
  position: absolute;
  width: 350px;
  object-fit: contain;
  bottom: -100%;
  right: 0;
}

@media (max-width: 901px) {
  .hm2 {
    display: none;
  }
}
.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  padding: 0 20px;
  h1 {
    font-size: 5em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    padding-bottom: 10px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    span {
      margin-left: 2px;
      &:last-child {
        color: $blue;
        font-weight: 700;
      }
    }
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
@media (max-width: 801px) {
  .header {
    height: 300px;
  }
  .headerText {
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1em;
    }
  }
}
@media (max-width: 431px) {
  .headerText {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 0.8em;
    }
  }
}
.clientWrapper {
  border-radius: 5px;
  overflow: hidden;
}
.clientsInner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.clientWrapper {
  .client {
    width: 150px;
    height: 150px;
  }
}

.svs {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  margin: 0 auto;
  h1 {
    position: relative;
    max-width: 800px;
    padding: 40px;
    border-radius: 5px;
    background-color: $darkBlackMain;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    transition: 0.3s all ease;
    &:hover {
      background-color: $blue;
    }
    span {
      display: inline-flex;
      color: $main;
    }
  }
}
.ig1 {
  position: absolute;
  left: -25px;
  top: -25px;
  z-index: 2;
  width: 70px;
  object-fit: contain;
}
.ig2 {
  position: absolute;
  right: -50px;
  top: -40px;
  z-index: -1;
  width: 180px;
  object-fit: contain;
  opacity: 0.1;
}
@media (max-width: 850px) {
  .svs {
    padding: 50px 20px 30px 20px;
    h1 {
      padding: 40px 30px;
    }
  }
  .ig1 {
    left: -15px;
    top: -15px;
    width: 50px;
  }
  .ig2 {
    width: 150px;
  }
}

.cont-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  outline: 3px solid $blue;
}

.blueMain {
  &::before {
    background-color: $blue;
  }
  h3 {
    color: $blue;
  }
}
.tags {
  font-size: 1em !important;
}

@media (max-width: 521px) {
  .c20 {
    padding: 0 0 50px 0;
  }
  .abtTw {
    padding-left: 0;
    &::before {
      display: none;
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
  }
  .tags {
    font-size: 0.8em !important;
  }
}
.ghc {
  position: absolute;
  top: 15%;
  @include flex();
  flex-direction: column;
  h1 {
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    font-size: 3.2em;
  }
  p {
    color: #fff;
    text-align: center;
    span {
      color: $blue;
      font-weight: 700;
    }
  }
}
.mySwiper3 {
  width: 100%;
  height: 100%;
}

.sw {
  width: 100%;
}

.popInner {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  @include flex();
  display: none;
  z-index: 15;
  background-color: rgba(72, 72, 72, 0.86);
}
.twoSUb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px !important;
}
.close {
  position: absolute;
  top: 50px;
  right: 50px;
  @include circle(40px);
  @include flex();
  background-color: $blue;
  cursor: pointer;
  img {
    width: 10px;
  }
}
@media (max-width: 1100px) {
  .close {
    top: 10px;
    right: 10px;
  }
}
.itemsInner {
  display: flex;
  row-gap: 50px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 20px;
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.box3 {
  max-width: 1050px;
  width: 100%;
  padding: 0 20px;
  .close {
    top: -10px;
    right: 10px;
  }
}
.imf {
  @include flex();
  position: relative;
}
#img {
  width: 100%;
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}
.visit {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 40px;
  padding: 0 30px;
  @include flex();
  gap: 10px;
  border-radius: 0 10px 0 10px;
  background-color: $blackMain;
  color: #fff;
}
@media (max-width: 1000px) {
  #img {
    height: auto;
  }
}
.item {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blackMain;
  border-radius: 5px;
  padding: 40px 20px 20px 20px;
  position: relative;
}
.itemHead {
  position: absolute;
  top: -35px;
  @include flex();
  @include circle(70px);
  background-color: $main;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  span {
    color: $main;
    text-align: center;
  }
  p {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
  }
}
@media (max-width: 450px) {
  .item {
    width: 100%;
    height: auto;
  }
}
.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background-color: #000;
  @include flex();
  bottom: 0;
  animation: sec5 500ms ease 6000ms forwards;
  video {
    width: 300px;
    object-fit: contain;
  }
}
@keyframes sec5 {
  100% {
    bottom: -100%;
  }
}

.section {
  width: 100%;
  @include flex();
  padding: 30px 0;
}
.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }
}
.coLinks {
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $main;
    span {
      font-size: 1.3em;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}
@media (max-width: 1071px) {
  .contact {
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 601px) {
  .form {
    width: 100%;
    padding: 0;
  }
  .location {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .coLinks {
    li {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .location {
    iframe {
      height: 250px;
    }
  }
  .du {
    label {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    .check {
      label {
        padding-left: 10px;
      }
    }
  }
}

.form2 {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      color: #fff;
      font-size: 1.7em;
      text-transform: uppercase;
    }
    span {
      text-transform: uppercase;
      font-size: 0.8em;
      color: #fff;
      font-weight: 300;
    }
    .hcen {
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.w600 {
  max-width: 600px;
}
@media (max-width: 501px) {
  .file {
    #fileData {
      width: 60%;
    }
  }
  .forms {
    padding: 50px 10px;
  }
  .form,
  .dataCard {
    width: 100%;
    padding: 30px 20px;
  }
  .bac {
    width: calc(100% - 40px);
  }
}

.input {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
  label {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 6px;
      left: 0;
      background-color: $main;
    }
  }
  input[type="text"],
  input[type="number"],
  .in {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fff;
    font-size: 1em;
    @include noBorder();
    height: 40px;
    background-color: rgba(94, 189, 186, 0.14);
  }
  textarea {
    @include noBorder();
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    background-color: rgba(94, 189, 186, 0.14);
    color: #fff;
    font-size: 1.1em;
  }
  .send {
    .login {
      margin: 0 auto;
    }
  }
  span {
    position: absolute;
    height: 40px;
    width: 6px;
    left: 0;
    background-color: $main;
    bottom: 0;
  }
}
.input.ta span {
  height: 200px;
}
.checks {
  display: flex;
  gap: 20px;
}
.check {
  display: flex;
  align-items: center;
  label {
    &::before {
      display: none;
    }
  }
}
.sendBtn {
  button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    @include noBorder();
    background-color: $main;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
  }
}
.p {
  width: 100%;
  display: grid;
  height: 300px;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  div {
    position: relative;
    @include flex();
    overflow-x: hidden;
    cursor: pointer;
    user-select: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #2224297a;
      left: -100%;
      transition: 0.3s all ease;
    }
    &:hover {
      &::after {
        left: 0;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.parent {
  grid-template-columns: 2fr repeat(2, 1fr);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
.gap5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.parent2 {
  grid-template-columns: repeat(2, 1fr) 2fr;
}

.div4 {
  grid-area: 1 / 1 / 2 / 2;
}
.div5 {
  grid-area: 1 / 2 / 2 / 3;
}
.div6 {
  grid-area: 1 / 3 / 2 / 4;
}

.parent3 {
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.div7 {
  grid-area: 1 / 2 / 2 / 3;
}
.div8 {
  grid-area: 1 / 3 / 2 / 4;
}
.div9 {
  grid-area: 2 / 2 / 3 / 3;
}
.div10 {
  grid-area: 2 / 3 / 3 / 4;
}
.div11 {
  grid-area: 1 / 1 / 2 / 2;
}
.div12 {
  grid-area: 1 / 1 / 3 / 2;
}

@media (max-width: 1000px) {
  .p {
    height: 400px;
  }
  .parent {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 2fr repeat(2, 1fr);
  }
  .parent2 {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 2fr repeat(2, 1fr);
  }
  .div1 {
    grid-area: 2 / 1 / 4 / 4;
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div3 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div4 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div5 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div6 {
    grid-area: 2 / 1 / 4 / 4;
  }
  .parent3 {
    height: 800px;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 2fr repeat(3, 2fr);
  }
  .div7 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div8 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div9 {
    grid-area: 2 / 1 / 2 / 2;
  }
  .div10 {
    grid-area: 2 / 2 / 2 / 4;
  }
  .div12 {
    grid-area: 3 / 1 / 5 / 4;
  }
}

@media (max-width: 550px) {
  .visit {
    font-size: 0.8em;
    height: 30px;
    padding: 0 20px;
    gap: 5px;
  }
}
.loader {
  @include flex();
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: $blue;
  animation: hide 400ms ease 2500ms forwards;
  img {
    &:nth-child(2) {
      width: 80px;
      margin-left: 25px;
      transform: translateY(-20px);
    }
  }
}
@keyframes hide {
  100% {
    top: 100%;
  }
}

.loaderLogo {
  opacity: 0;
  animation: loader 1.5s linear 0s infinite forwards;
  img {
    width: 150px;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.adsSw {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  .swiper-slide {
    img {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      object-fit: cover;
      border: 2px solid $blue;
    }
  }
  .swiper-pagination-bullet {
    background-color: #fff;
    transition: 0.2s all ease;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    width: 20px;
    height: 7px;
    border-radius: 10px;
    background-color: $blue;
  }
}
@media (max-width: 976px) {
  .adsSw {
    .swiper-slide {
      img {
        height: auto;
      }
    }
  }
}
